.faq {
    padding: 20px;
    ul {
        padding: 0;
        list-style-type: none;
        li {
            padding-bottom: 15px;
            border-bottom: 1px solid #808080;
            margin-bottom: 20px;
            a {
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}
div.ion-header {
    background-color: #05151b;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
    }
    button {
        color: #fff;
    }   
}
::ng-deep span.button-inner {
    color: #fff !important;
}
div.ion-content {
    background-color: #002C42;
}
::ng-deep .ion-page {
    display: block !important;
}
// .ion-header {
//     background-color: #05151b;
//     h2 {
//         color: #fff;
//     }
// }