<ion-header class="app-bg">
  <ion-toolbar>
    <ion-title>ASk Question</ion-title>
      <ion-icon slot="end" name="close-outline" (click)="closebtn()"></ion-icon>
  </ion-toolbar>
    
</ion-header>

<ion-content class="app-bg">
<div class="askques-wrapper">
<h2>Hello, how can we help?</h2>
<button (click)="updatecta()">Updating Your Payment Information</button>
</div>
<div class="searchbar-wrap">
  <ion-searchbar></ion-searchbar>
  <ion-icon name="rocket-outline"></ion-icon>
</div>
</ion-content>
