.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    div{
        ion-title{
            color:#fff;
        }
       
        ion-buttons{
            color:#fff; 
        }
        ion-icon{
            color:#fff;  
        }
    }
 

}
.support-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    ion-icon {
        font-size: 20px;
    font-weight: bold;
    color: #fff;
    }
   ion-title {
    font-size: 16px;
    color: #fff;
   }
}
.w3-hide {
    display: none;
}
.w3-show {
    display: block;
}
.accordion-cta {
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    ion-icon {
        padding-left: 20px;
        color: #fff;
        font-size: 20px;
    }
}
.w3-hide ion-icon {
    transform: unset;
}
.w3-show ion-icon {
    transform: rotatex(-149deg);
}
.w3-container {
    text-align: left;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    p {     
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    text-align: justify;
    }
}

div.ion-header {
    background-color: #05151b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
    }
    button {
        color: #fff;
    }
    
}
::ng-deep span.button-inner {
    color: #fff !important;
}
div.ion-content {
    background-color: #002C42;
}
::ng-deep .ion-page {
    display: block !important;
}
ion-icon {
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
}