<ion-header class="app-bg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" method="post">
    <div class="form-wrap"><img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt=""></div>

    <p>
      <label for="fname">First name</label><br>
      <input type="text" formControlName="fname" required>
    </p>
    <p>
      <label for="lastname">Last name</label><br>
      <input type="text" formControlName="lname" required>
    </p>
    <p>
      <label for="fname">Email Id</label><br>
      <input type="email" formControlName="email" required>
    </p>
    <p>
      <label for="password">Password</label><br>
      <input type="password" formControlName="password" required>
    </p>
    <div>
      <label for="conpassword">Confirm Password</label><br>
     <div class="confirm-cls"> <input id = "conpassword" type="password" formControlName="conpassword" required>
      <span class="eye-cls" *ngIf = "this.showEyeVal else hideEye">
        <ion-icon name="eye"  (click)="openHideEye()"></ion-icon>
      </span>
      <ng-template #hideEye>
        <span class="eye-cls">
          <ion-icon name="eye-off"  (click)="openEye()"></ion-icon>
        </span>
       
      </ng-template>
    </div> 
   
    </div>
    <ion-row>
      <ion-col class="cta">
        <button type="submit" (click)="submitForm()" expand="block">Sign Up</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>