<ion-header>
  <ion-toolbar>
    <ion-title>Top Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="chart-wrapper">
  <div class="chart-heading">
    <h3>Top Charts</h3>
    <span (click)="filetrpage()"><ion-icon name="options-outline"></ion-icon> Filter</span>
  </div>
  <p>The most popular books and audiobbook generating buzz from critics, NYT, and more.</p>

  <div class='chart-category'>
    <ul>
      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>

      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>

      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>

      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>

      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>


      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>


      <li>
        <img src="../assets/banner.jpeg"/>
        <span>
          <h3>The Subtle Art of Not Giving a Fact <ion-icon name="bookmark-outline"></ion-icon></h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>

    </ul>
  </div>
</div>
</ion-content>
