<ion-header  class="app-bg">
  <ion-toolbar >
    <ion-title>Top Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
<div class="chart-wrapper">
  <!-- <div class="chart-heading">
    <h3>Top Charts</h3>
    <span (click)="filetrpage()"><ion-icon name="options-outline"></ion-icon> Filter</span>
  </div>
  <p>The most popular books and audiobbook generating buzz from critics, NYT, and more.</p> -->

  <div class='chart-category' *ngFor="let item of data;">
    
    <ul>
      <li>
        <img src={{item.images[0].src}}  (click)="imgclick(item.id)"/>
        <!-- {{*ngIf="addAndFetchWishlist(item.id)}} -->
        <span>
          <!--  -->
          <h3 >{{item.name}}<ion-icon [style.color]="item['isBookMark'] ? '#EF3B51' : ''" name="bookmark" (click)="setwishlist(item)"></ion-icon> 
            <!-- <ng-template #noWishlist>
            <ion-icon name="bookmark-outline"  (click)="deletewishlist()" 
             ></ion-icon></ng-template> -->
            </h3>
          <p>Mark Manson</p>
          <div class="icon-wrap">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </span>
      </li>
    </ul>
  </div>
</div>
</ion-content>
