.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    --color:#fff;
    ion-title{
        color:#fff
    }
}
.chart-wrapper {
    padding: 20px;
    background-color: #002C42 !important;
    .chart-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h3 {
        font-size: 18px;
        color: #fff;
    }
    p {
        // margin: 0;
        font-size: 13px;
        color: #fff;
    }
    .chart-category {
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                span {
                     padding-left: 15px;
                }
            }
            img {
                max-width: 150px;
                width: 100%;
                display: block;
            }
        }
        h3 {
            font-size: 14px;
            display: flex;
            margin: 0;
            align-items: center;
            color: #fff;
            ion-icon {
                font-size: 25px;
                color: #fff;
            }
        }
               
    }
}
ion-header {
    background-color: #002C42 !important;
}
ion-icon {
    color: #fff;
}
::ng-deep .my-custom-class{
    --background:#ebf1f500e7;
    --spinner-color: #fff
}
