<ion-header class="app-bg">
  <ion-toolbar>
    <ion-title>Top Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg" >
  <div class="chart-wrapper" *ngIf="connected_net else netproblem">
    <div class='chart-category' *ngFor="let item of data;">
      <ul>
        <li>
          <img src={{item.images[0].src}} (click)="imgclick(item.id)" />
          <span>
            <h3>{{item.name}}
              <ion-icon [name]="item['isBookMark'] ? 'bookmark' : 'bookmark-outline'" (click)="setwishlist(item)">
              </ion-icon>
            </h3>
            <p>Mark Manson</p>
            <div class="icon-wrap">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #netproblem>
    <div style="text-align: center; padding-top:20%;color:#fff">
      <p>Internet Connection Problem</p>
    </div>
  </ng-template>
</ion-content>