<ion-header class="app-bg">
  <ion-toolbar>
  <ion-buttons slot="start" style="color:#fff;font-size: 24px;">
    <ion-icon  name="arrow-back-outline" (click)="myBackButton()"></ion-icon>
    <!-- <ion-back-button defaultHref="/tabs/home"></ion-back-button> -->
  </ion-buttons>
    <ion-title>My Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-bg">
<div class="ticket-wrapper">
  <div class="ticket-content">
    <img src="../assets/business-book.jpg" alt=" ">
    <h2>Title</h2>
    <button (click)="contactpage()">Start Conversation</button>
  </div>
</div>
</ion-content>
