.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    ion-title{
        color:#fff;
    }
    ion-back-button{
        color:#fff
    }
}
.download-wraaper {
    padding: 0 20px;
    .download-content {
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                border-bottom: 1px solid #ccc;
            }
        }
        h3 {
            font-size: 18px;
        }
        p {           
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            color: #808080;
            text-transform: lowercase;
            margin-bottom: 15px;
        }
    }
}


div.ion-header {
    background-color: #05151b;
    padding: 10px;
    color: #fff;
    h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
    }
    button {
        color: #fff;
    }
    
  }
  ::ng-deep span.button-inner {
    color: #fff !important;
  }
  .ion-content {
    background-color: #002C42;
  }
  ::ng-deep .ion-page {
    display: block !important;
  }