.log-wrap {
    background-color: #002C42;
}
form {
    padding: 20px;
    box-shadow: var(--box-shadow4);
    margin: 17px;
    border: 1px solid #fff;
}
.acc-create-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
a.small-text {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.small-text:hover {
    color: #fff;
}
.user-icon {
    text-align: center;
    ion-icon {
        font-size: 50px;
        fill: #fff;
    }
}

ion-item {
    ion-icon {
        font-size: 20px;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
    }
}
::ng-deep .dark input {
    color: rgb(252, 229, 229);
}
::ng-deep .dark form label {
    color: #fff;
}
::ng-deep .dark form .acc-create-wrap a {
    color: #fff !important;
}
.acc-create-wrap a{
    font-size: var(--x-small);
    font-weight: 600;
    color: #fff;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px 0;
}
label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
}
ion-title.md.title-default.hydrated {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

.cta {
    text-align: center;
    button {
        background-color: #fff;
        padding: 13px 40px;
        color: #000;
        font-size: var(--small);
        border-radius: 25px;
        font-weight: 700;
        &:hover {
            box-shadow: var(--box-shadow2);
        }
    }
   
}

::ng-deep .dark .cta button {
    color: #fff;
} 
::ng-deep .ion-page {
    display: block !important;
}
label {
    color: #fff;
}
div.ion-header {
    background-color: #607d8b;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
        margin: 0;
    }
    button {
        color: #fff;
    }
    
}
::ng-deep span.button-inner {
    color: #fff !important;
}

::ng-deep .ion-button {
    color: #fff !important;
}