<ion-tabs class="tabs_background">
  <ion-tab-bar slot="bottom" class="tab_bar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="topchart">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Top Chart</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Seacrh</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="saved">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
