<ion-header [translucent]="true" class="app-bg">

  <ion-toolbar>
    <div class="saved_wrapper">
      <ion-title>Saved</ion-title>
    <!-- <ion-icon name="search-outline"></ion-icon>
    <ion-icon name="eyedrop-outline"></ion-icon> -->
    </div>
    
  </ion-toolbar>

  <ion-toolbar>

    <ion-segment 
    value="all" 
    color="" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">

      <ion-segment-button value="wishlist">
        <ion-label>Wish List</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Notebook">
        <ion-label>Notebook</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
   </ion-header>


<ion-content [fullscreen]="true" class="ion-padding app-bg">
  <div *ngIf="segmentModel === 'wishlist'">
    <ion-refresher slot="fixed" (ionRefresh)="getUsersList($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row >
        <ion-col size="4" size-sm *ngFor="let item of wishlistData">
          <ion-card style ="width:100px;height: 130px" (click)="viewItem(item.id)">
            <img src="{{item.image_url}}" style="width: 100px; height: 130px;">
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
  </div>
  

  <div size="6"  *ngIf="segmentModel === 'Notebook'">
    <ion-refresher slot="fixed" (ionRefresh)="getUsersList2($event,this.token)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of notes_data; let i = index">
          <ion-card (click)="viewNotes(i,item.id)">
            <ion-card-header>
              <h5>{{item.notes_title}}</h5>
            </ion-card-header>
            <ion-card-content>
              <p> {{item.notes_desc}}</p>
              <ion-buttons slot="start">
                <!-- <ion-icon name="open-outline" slot="start" ></ion-icon> -->
                <!-- <ion-icon name="create-outline" slot="end"
                  (click)="editNotesModel(i,item.title,item.description,item.notes_id)"></ion-icon>
                <ion-icon name="trash-outline" slot="end" (click)="deleteItem(i,item.id)"></ion-icon> -->
              </ion-buttons>
            </ion-card-content>
  
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
 </div>
</ion-content>
