.saved_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    ion-icon {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    }
    ion-title {
        font-size: 18px;
        text-transform: uppercase;
    }
}