.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    ion-title{
        color:#fff;
    }  
}
.saved_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    ion-icon {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    }
    ion-title {
        font-size: 18px;
        text-transform: uppercase;
    }
}
p {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
  ::ng-deep .ion-page {
      display: block !important;
  }
  ::ng-deep .my-custom-class{
    --background:#ebf1f500e7;
    --spinner-color: #fff;
}

