<ion-header class="app-bg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{category_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="app-bg">
  <div class="more_body_wrapper">
  <div class="more_wrapper" *ngFor="let item of products">
    <div class="moreLink-container">
      <div class="more-img">
        <img src={{item.images[0].src}} alt=" " (click)="imgclick(item.id)">
      </div>
      <div class="more-content">
        <div>{{item.name}}

          <ion-icon [name]="item['isBookMark'] ? 'bookmark' : 'bookmark-outline'" (click)="setwishlist(item)">
          </ion-icon>
        </div>
        <!-- <p [innerHTML]="item.short_description"></p> -->
        <p>{{item.meta_data[10] == undefined?'':item.meta_data[10].value}}</p>
      </div>
    </div>
  </div>
</div>
</ion-content>