<ion-content>
  <ion-list>
    <ion-list-header>
    <ion-item>
      <ion-label>Sort</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Best Seller</ion-select-option>
        <ion-select-option value="blonde">Most Recent</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list-header>
  </ion-list>

  <div class="more_wrapper">
<div class="moreLink-container">
  <div class="more-img">
    <img src="../assets/business-book.jpg" alt=" ">
  </div>
  <div class="more-content">
    <p>Key insighths from Amy Morin's  <ion-icon name="bookmark-outline"></ion-icon></p>
    <h2>13 Things Mentally Strong People Don't Do: <br> Take Back Your Power, Embrace Change, Face.....</h2>
    <span>11 min read</span>
  </div>
</div>
  </div>
  <div class="more_wrapper">
    <div class="moreLink-container">
      <div class="more-img">
        <img src="../assets/business-book.jpg" alt=" ">
      </div>
      <div class="more-content">
        <p>Key insighths from Amy Morin's  <ion-icon name="bookmark-outline"></ion-icon></p>
        <h2>13 Things Mentally Strong People Don't Do: <br> Take Back Your Power, Embrace Change, Face.....</h2>
        <span>11 min read</span>
      </div>
    </div>
      </div>
      <div class="more_wrapper">
        <div class="moreLink-container">
          <div class="more-img">
            <img src="../assets/business-book.jpg" alt=" ">
          </div>
          <div class="more-content">
            <p>Key insighths from Amy Morin's  <ion-icon name="bookmark-outline"></ion-icon></p>
            <h2>13 Things Mentally Strong People Don't Do: <br> Take Back Your Power, Embrace Change, Face.....</h2>
            <span>11 min read</span>
          </div>
        </div>
          </div>
          <div class="more_wrapper">
            <div class="moreLink-container">
              <div class="more-img">
                <img src="../assets/business-book.jpg" alt=" ">
              </div>
              <div class="more-content">
                <p>Key insighths from Amy Morin's  <ion-icon name="bookmark-outline"></ion-icon></p>
                <h2>13 Things Mentally Strong People Don't Do: <br> Take Back Your Power, Embrace Change, Face.....</h2>
                <span>11 min read</span>
              </div>
            </div>
              </div>
</ion-content>
