.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
   color:#fff;
    ion-title{
        color:#fff
    }
    ion-buttons{
        color:#fff;
    }
    div {
        color:#fff; 
      
      
    }

}


ion-item {
    width: 100%;
}


.more_wrapper {
    .moreLink-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
    }
    .more-img {
        width: 35%;
        img {
            width: 100%;
            display: block;
        }
    }
    .more-content {
        width: 60%;
        div {
            font-size: 18px;
            display: flex;
            align-items: center;
             justify-content: space-between;
        }
        p {
            font-size: 11px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 100;
        }
        span {
            font-size: 12px;
        }
    }
}
.more-title {
    background-color: #05151b;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
    }
}
ion-icon {
    color: #fff;
    font-size: 25px;
}
