.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
   color:#fff;
    ion-title{
        color:#fff
    }
    ion-buttons{
        color:#fff;
    }
    div {
        color:#fff; 
      
      
    }

}


ion-item {
    width: 100%;
}


.more_wrapper {
 
    padding-bottom: 20px;
    margin-bottom: 20px;
    .moreLink-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
        border-bottom: 1px solid #808080;
    }
    .more-img {
        width: 35%;
    }
    .more-content {
        width: 60%;
        div {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        h2 {
            font-size: 14px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 600;
        }
        span {
            font-size: 12px;
        }
    }
}
.more-title {
    background-color: #607d8b;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
    }
}
ion-icon {
    color: #fff;
}
