<ion-header>
  <ion-toolbar>
    <div class="joined-header">
      <ion-buttons slot="start">
        <ion-back-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-back-button>
        </ion-buttons>
        <ion-title>Friends who have joined</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="joined-wrapper">
  <h2>None of your friends have joined yet!</h2>
  <p>Invite Friends to universal and earn month each time one of them</p>
</div>
</ion-content>
