p {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
  .app-bg{
    --background:#002C42;
    --ion-toolbar-background:#002C42;
    
    ion-back-button{
        color:#f4f4f4;
    }
    ion-button{
     color:#f4f4f4;
    }
    ion-title{
        color:#f4f4f4;
    }
    // div{
    //     color:#f4f4f4;
       
    // }
}