<ion-header>
  <ion-toolbar>
    <div class="accinfo-wrap">
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back"></ion-icon></ion-back-button>
      </ion-buttons>
      <ion-title>Account</ion-title>
      <a (click)="presentAlertPrompt()">Sign Out</a>
    </div>
    <div class="accinfo-content">
      <div class="accinfo-txt">
        <h4>Account</h4>
        <p>{{user_email}}</p>
      </div>
      <div class="accinfo-txt">
        <h4>Membership</h4>
        <p>None</p>
        <a class="accinfo-link" (click)="paymentmethod()">Become a Subscriber</a>
      </div>
     
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
