<div class="ion-header">
    <div class="invitefrd-header">
      <ion-buttons slot="start">
        <ion-back-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-back-button>
      </ion-buttons>
      <ion-title>Invite Friends</ion-title>
      <button (click)="joinedpage()">Joined</button>
    </div>
  </div>

<div class="ion-content">
  <div class="invite-wrapper">
    <h2>Read along with the other book lovers in your life</h2>
    <p>Invite friend to join and they will get two free months of reading to start</p>
    <span>Invite friends via</span>
    <br>
    <div class="invite-cta">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon> Message
      </ion-button>
      <ion-button>
        <ion-icon name="mail-outline"></ion-icon> Email
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon> Facebook
      </ion-button>
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon> More
      </ion-button>
    </div>
  </div>
</div>