<ion-header class="app-bg">
  <ion-toolbar>
 <ion-title>Search Product</ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="app-bg">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
      <div class="more_wrapper" *ngFor="let item of userRecords | filter:filterTerm">
        <div class="moreLink-container">
          <div class="more-img">
            <img src={{item.images[0].src}} alt=" " (click)="imgclick(item.id)">
          </div>
          <div class="more-content">
            <div>{{item.name}} <ion-icon  [name]="item['isBookMark'] ? 'bookmark-outline' : 'bookmark'" (click)="setwishlist(item)"></ion-icon>
            </div>
            <p [innerHTML]="item.short_description"></p>
    
          </div>
        </div>
      </div>
 
</ion-content>