
<ion-header class="app-bg">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
</ion-toolbar>
</ion-header>
<ion-content class="app-bg">


  <!-- <div class="search-wrapper">
    <div class="interest-conatiner">
      <div class="interest-title__wrap"></div>
      <h2>Interests for You</h2>
      <p>These suggestions are based on your browsing habits and prefrences.</p>
      <div class="interset-cta">
        <button (click)="browsecatg()">Romance</button>
        <button  (click)="browsecatg()">Contemporary Fiction</button>
        <button  (click)="browsecatg()">Mystery, Thriller & Crime Fiction</button>
      </div>
      </div>
      <div class="browse-category__wrapper">
        <h2>Browse All Interests</h2>
        <ul>
          <li><a  (click)="browsecatg()">Career & Growth</a></li>
          <li><a  (click)="browsecatg()">Business</a></li>
          <li><a  (click)="browsecatg()">Finance & Money Management</a></li>
          <li><a  (click)="browsecatg()">Politics</a></li>
          <li><a  (click)="browsecatg()">Sports & Recreation</a></li>
          <li><a  (click)="browsecatg()">Games & Activities</a></li>
          <li><a  (click)="browsecatg()">Comics & Graphic Novels</a></li>
          <li><a  (click)="browsecatg()">Social Science</a></li>
          <li><a  (click)="browsecatg()">True Crime</a></li>
          <li><a  (click)="browsecatg()">Travel</a></li>
          <li><a  (click)="browsecatg()">Philosphy</a></li>
          <li><a  (click)="browsecatg()">Literary Criticim</a></li>
          <li><a  (click)="browsecatg()">Pets</a></li>
          <li><a  (click)="browsecatg()">Cooking, Food & Wine</a></li>
          <li><a  (click)="browsecatg()">Shhet Music</a></li>
          <li><a  (click)="browsecatg()">Refrence</a></li>
          <li><a  (click)="browsecatg()">Study Aids & Test Prep</a></li>
          <li><a   (click)="browsecatg()">Language Arts & Discipline</a></li>
          <li><a  (click)="browsecatg()">Foreign Language Studies</a></li>
          <li><a  (click)="browsecatg()">Teaching Method & Material</a></li>
          <li><a   (click)="browsecatg()">Law</a></li>
          <li><a   (click)="browsecatg()">Home & Garden</a></li>
          <li><a  (click)="browsecatg()">Art</a></li>
          <li><a  (click)="browsecatg()">Self-Improvement</a></li>
          <li><a  (click)="browsecatg()">Wellness</a></li>
          <li><a  (click)="browsecatg()">Science & Mathematics</a></li>
          <li><a  (click)="browsecatg()">Computers</a></li>
          <li><a  (click)="browsecatg()">Technology & Engineering</a></li>
          <li><a  (click)="browsecatg()">History</a></li>
          <li><a  (click)="browsecatg()">Religion & Sprituality</a></li>
          <li><a  (click)="browsecatg()">Horror Fiction</a></li>
          <li><a  (click)="browsecatg()">Humor & Satire</a></li>
          <li><a  (click)="browsecatg()">Mystery, Thriller & Crime Fiction</a></li>
          <li><a  (click)="browsecatg()">Contemporary Fiction</a></li>
          <li><a  (click)="browsecatg()">Literary Fiction</a></li>
          <li><a  (click)="browsecatg()">Poetry</a></li>
          <li><a  (click)="browsecatg()">Young Adult</a></li>
          <li><a  (click)="browsecatg()">Science Fiction & Fabtasy</a></li>
          <li><a  (click)="browsecatg()">Romance</a></li>
          <li><a  (click)="browsecatg()">Erotica</a></li>
          <li><a  (click)="browsecatg()">Classics</a></li>
          <li><a  (click)="browsecatg()">Children's</a></li>
          <li><a  (click)="browsecatg()">Historical Fiction</a></li>
          <li><a  (click)="browsecatg()">General Fiction</a></li>
          <li><a  (click)="browsecatg()">Short Stories & Anthologies</a></li>
          <li><a  (click)="browsecatg()">Acttion & Adventure Fiction</a></li>
          <li><a  (click)="browsecatg()">Lgbtqia + Fiction</a></li>
          <li><a  (click)="browsecatg()">Identity & Culture Fiction</a></li>
          <li><a  (click)="browsecatg()">Religious Fiction</a></li>
          <li><a  (click)="browsecatg()">News</a></li>
          <li><a  (click)="browsecatg()">Lifestyle</a></li>
        </ul>
      </div>
  </div> -->
</ion-content>