.acc-img {
    max-width: 126px;
    margin: 20px auto;
    border-radius: 50%;
    text-align: center;
    img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

}
ul {
    list-style-type: none;
    padding-left: 0;
    max-width: 295px;
    margin: 0 auto;
li {
    padding-bottom: 15px;
    a {
        color: #808080;
        font-size: 14px;
        font-weight: 100;
    }
}
}
.app-logo {
    max-width: 100px;
    margin: 0 auto;
}
.preadd {
    display: none;
}
.preremove {
    display: block;
}
::ng-deep .alert-message {
    font-size: 12px !important;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: left;
}
