.app-bg{--background:#002C42;
    --ion-toolbar-background:#002C42;
    ion-title{
        color:white;
    }
}

.acc-img {
    max-width: 126px;
    margin: 20px auto;
    border-radius: 50%;
    text-align: center;
    img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
h3 {
    color: #fff;
}
}
ul {
    list-style-type: none;
    padding-left: 0;
    max-width: 295px;
    margin: 0 auto;
li {
    padding-bottom: 15px;
    cursor: pointer;
    a {
        color: #fff;
        font-size: 20px;
        font-weight: 100;
    }
}
}
p {
    color: #fff;
}
.acc-header {
    background-color: #05151b;
    h2 {
        color: #fff;
        margin: 0;
        padding: 10px;
    }
}
::ng-deep .ion-page {
    display: block !important;
}
.app-logo {
    max-width: 100px;
    margin: 0 auto;
}
.preadd {
    display: none;
}
.preremove {
    display: block;
}
::ng-deep .alert-message {
    font-size: 12px !important;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: left;
}
::ng-deep ion-header {
    background-color: #002C42;
}
::ng-deep ion-content {
    background-color: #002C42;
}
::ng-deep main.inner-scroll.scroll-y {
    background-color: #002C42;
}
::ng-deep
.my-custom-class{
    --background:#ebf1f500e7;
    --spinner-color: #fff
}