<div class="ion-header">
    <div class="filert-header">
      <ion-buttons slot="start">
        <ion-back-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-back-button>
      </ion-buttons>
      <ion-title>Filter Top Charts</ion-title>
    </div>
  </div>

<div class="ion-content">
  <div class="filter-wrapper">
    <ion-list>
      <ion-radio-group allow-empty-selection value="anchovies">
        <ion-list-header>
          <ion-label>Filter By Format</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>All Formats</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Books</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Audiobooks</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-list-header>
          <ion-label>Filter by Interest</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>All Intersets</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Career & Growth</ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Business</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Finance & Money management</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Politics</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Politics</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Politics</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</div>